@using DataModel.Framework.DataAccess
@model Framework.Components.ReleaseLog.DomainModel.ReleaseNoteLogisticsDifficultyDataModel

@{
    ViewBag.Title = "ReleaseNoteLogisticsDifficultyDataModel";
}
<h2>Release Note Logistics Difficulty Item</h2>

@Html.HiddenFor(modelItem => @Model.ReleaseNoteLogisticsDifficultyId)

<div class="display-label">
    @Framework.Components.ReleaseLog.DomainModel.ReleaseNoteLogisticsDifficultyDataModel.DataColumns.ReleaseNoteLogisticsDifficultyId
</div>
<div class="display-field">
    @Model.ReleaseNoteLogisticsDifficultyId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
