@using DataModel.Framework.DataAccess
@model Framework.Components.ReleaseLog.DomainModel.ReleaseFeatureDataModel

@{
    ViewBag.Title = "ReleaseFeatureDataModel";
}
<h2>Release Feature</h2>

@Html.HiddenFor(modelItem => @Model.ReleaseFeatureId)

<div class="display-label">
    @Framework.Components.ReleaseLog.DomainModel.ReleaseFeatureDataModel.DataColumns.ReleaseFeatureId
</div>
<div class="display-field">
    @Model.ReleaseFeatureId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
