


@model DataModel.TaskTimeTracker.TimeTracking.DailyTaskItemQueueDataModel
@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>DailyTaskItemQueue</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Description)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Description)
			@Html.ValidationMessageFor(model => model.Description)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.SortOrder)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SortOrder)
			@Html.ValidationMessageFor(model => model.SortOrder)
		</div>

        <div class="editor-label">
			@*@Html.LabelFor(model => model.DailyTaskItemQueueStatus)*@
            DailyTaskItemQueueStatus
		</div>
		<div class="editor-field">
			@Html.DropDownList("DailyTaskItemQueueStatusId", null, new { id = "drpDailyTaskItemQueueStatus" })		
		</div>

        <div class="editor-label">
			@Html.LabelFor(model => model.AssignedTo)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AssignedTo)
			@Html.ValidationMessageFor(model => model.AssignedTo)
		</div>

        <div class="editor-label">
			@Html.LabelFor(model => model.AssignedBy)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AssignedBy)
			@Html.ValidationMessageFor(model => model.AssignedBy)
		</div>

        <div class="editor-label">
			@Html.LabelFor(model => model.BusinessDate)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.BusinessDate)
			@Html.ValidationMessageFor(model => model.BusinessDate)
		</div>

		<p>
			<input type="submit" value="Create" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
