


@using DataModel.Framework.DataAccess
@model List<DataModel.TaskTimeTracker.ApplicationDevelopment.DBComponentNameDataModel>
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
	@using (Html.BeginForm("Index", "DBComponentName", FormMethod.Get))
	{
		<p>
			Name: @Html.TextBox("SearchString")
			<br />
			<input type="submit" value="Filter" />
		</p>
	}
</p>

<table border="1" cellspacing="5" cellpadding="5">
	<tr>
		<th>
			@DataModel.TaskTimeTracker.ApplicationDevelopment.DBComponentNameDataModel.DataColumns.DBComponentNameId
		</th>
		<th>
			@StandardDataModel.StandardDataColumns.Name
		</th>
		<th>
			@StandardDataModel.StandardDataColumns.Description
		</th>
		<th>
			@StandardDataModel.StandardDataColumns.SortOrder
		</th>
		@*<th>
			@DataModel.Framework.Configuration.DBComponentNameDataModel.DataColumns.DateCreated
		</th>*@
		<th>
			@BaseDataModel.BaseDataColumns.CreatedByAuditId
		</th>
		@*<th>
			@DataModel.Framework.Configuration.DBComponentNameDataModel.DataColumns.DateModified
		</th>*@
		<th>
			@BaseDataModel.BaseDataColumns.ModifiedByAuditId
		</th>
		<th>
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.DBComponentNameId
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@item.SortOrder
			</td>
			@*<td>
				@item.DateCreated
			</td>*@
			<td>
				@item.CreatedByAuditId
			</td>
			@*<td>
				@item.DateModified
			</td>*@
			<td>
				@item.ModifiedByAuditId
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.DBComponentNameId })
				|
				@Html.ActionLink("Details", "Details", new { id = item.DBComponentNameId })
				|
				@Html.ActionLink("Delete", "Delete", new { id = item.DBComponentNameId })
			</td>
		</tr>
	}
	@*<tr>
		<td colspan="5">
			@Html.Partial("_Pager")
		</td>
	</tr>*@
</table>
