@model ApplicationContainer.Web.Api.Models.HomeModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="rootAppShell">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Day Care">
    <meta name="author" content="Indus Valley Technology and Solutions">

    <title>Day Care</title>

    <link href="~/bower_components/rdash-ui/dist/css/rdash.css" rel="stylesheet" />

    @Styles.Render(string.Format("~/bundles/{0}", "None"))

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/kendo")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")
	
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/bower")

    <script src="~/app/BM/DayCare/app.js"></script>
	
	@Scripts.Render("~/bundles/DayCare")

    @Scripts.Render("~/bundles/rdash")
    @Scripts.Render("~/bundles/kendo")

    @Scripts.Render("~/bundles/mvc")
    @Scripts.Render("~/bundles/CoreAngular")

	
    
	<link href="/Styles/NavMenu.css" rel="stylesheet" type="text/css" />

    <style>
        body {
            padding-top: 50px;
        }
    </style>

</head>

<body ng-controller="MasterCtrl">

    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">Modules<span class="menu-icon glyphicon glyphicon-transfer"></span>
                    </a>
                </li>
               
                <li class="sidebar-title"><span>NAVIGATION</span></li>
               
                 <li class="sidebar-list">
                    <a href="#/Enrollment/main">Enrollment <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/Office/main">Office <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/WorkSchedules/main">Work Schedules <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="#/Classes/main">Classes <span class="menu-icon fa fa-tachometer"></span></a>
                </li>

             
                <li class="sidebar-title"><span>ADMINISTRATION</span></li>
					<li class="sidebar-list">
						<a href="#/AA/main">App Admin <span class="menu-icon fa fa-tachometer"></span></a>
					</li>
					<li class="sidebar-list">
						<a href="#/tables">Workflow Manager <span class="menu-icon fa fa-table"></span></a>
					</li>
					<li class="sidebar-list">
						<a href="#/Tools/main">Tools <span class="menu-icon fa fa-table"></span></a>
					</li>
                <li class="sidebar-list">
						<a href="#/Beta/main">Beta <span class="menu-icon fa fa-tachometer"></span></a>
					</li>
            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a href="https://github.com/rdash/rdash-angular" target="_blank">Github
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">About
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#">Support
                    </a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <div data-ng-include="'../../app/BM/DayCare/views/Nav.aspx'"></div>
                @*<div data-ng-include="'../../app/BM/DayCare/views/nav.html'"></div>*@

                <div ng-if="module=='AA'" data-ng-include="'../../app/BM/DayCare/views/navAA.html'"></div>
                <div ng-if="module=='Enrollment'" data-ng-include="'../../app/BM/DayCare/views/nav.html'"></div>
                <div ng-if="module=='WorkSchedules'" data-ng-include="'../../app/BM/DayCare/views/navWorkSchedules.html'"></div>
                <div ng-if="module=='Beta'" data-ng-include="'../../app/BM/DayCare/views/navBeta.html'"></div>
                <div ng-if="module=='Classes'" data-ng-include="'../../app/BM/DayCare/views/navClasses.html'"></div>
                <div ng-if="module=='Office'" data-ng-include="'../../app/BM/DayCare/views/navOffice.html'"></div>
                <div ng-if="module=='Tools'" data-ng-include="'../../app/BM/DayCare/views/navTools.html'"></div>
                <div class="container-fluid">

                    <div data-ng-include="'../../app/core/components/Messaging.html'"></div>



                    <div data-ng-view="" class="col-sm-12"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Page Wrapper -->
</body>

</html>
