@using DataModel.Framework.DataAccess
@model DataModel.TaskTimeTracker.ApplicationDevelopment.FunctionalityDevelopmentStepDataModel

@{
    ViewBag.Title = "FunctionalityDevelopmentStepDataModel";
}
<h2>Functionality Development Step</h2>

@Html.HiddenFor(modelItem => @Model.FunctionalityDevelopmentStepId)

<div class="display-label">
    @DataModel.TaskTimeTracker.ApplicationDevelopment.FunctionalityDevelopmentStepDataModel.DataColumns.FunctionalityDevelopmentStepId
</div>
<div class="display-field">
    @Model.FunctionalityDevelopmentStepId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
