@using DataModel.Framework.DataAccess
@model DataModel.TaskTimeTracker.TimeTracking.ScheduleDetailActivityCategoryDataModel

@{
    ViewBag.Title = "ScheduleDetailActivityCategoryDataModel";
}
<h2>Schedule Detail Activity Category</h2>

@Html.HiddenFor(modelItem => @Model.ScheduleDetailActivityCategoryId)

<div class="display-label">
    @DataModel.TaskTimeTracker.TimeTracking.ScheduleDetailActivityCategoryDataModel.DataColumns.ScheduleDetailActivityCategoryId
</div>
<div class="display-field">
    @Model.ScheduleDetailActivityCategoryId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
