@using DataModel.Framework.DataAccess
@model Framework.Components.ReleaseLog.DomainModel.DevelopmentCategoryDataModel

@{
    ViewBag.Title = "DevelopmentCategoryDataModel";
}
<h2>Development Category</h2>

@Html.HiddenFor(modelItem => @Model.DevelopmentCategoryId)

<div class="display-label">
    @Framework.Components.ReleaseLog.DomainModel.DevelopmentCategoryDataModel.DataColumns.DevelopmentCategoryId
</div>
<div class="display-field">
    @Model.DevelopmentCategoryId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
