@using DataModel.Framework.DataAccess
@model Framework.Components.ReleaseLog.DomainModel.ReleaseNoteBusinessDifficultyDataModel

@{
    ViewBag.Title = "ReleaseNoteBusinessDifficultyDataModel";
}
<h2>Release Note Logistics Difficulty Item</h2>

@Html.HiddenFor(modelItem => @Model.ReleaseNoteBusinessDifficultyId)

<div class="display-label">
    @Framework.Components.ReleaseLog.DomainModel.ReleaseNoteBusinessDifficultyDataModel.DataColumns.ReleaseNoteBusinessDifficultyId
</div>
<div class="display-field">
    @Model.ReleaseNoteBusinessDifficultyId
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Name
</div>
<div class="display-field">
    @Model.Name
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.Description
</div>
<div class="display-field">
    @Model.Description
</div>

<div class="display-label">
	@StandardDataModel.StandardDataColumns.SortOrder
</div>
<div class="display-field">
    @Model.SortOrder
</div>
