@model Framework.Components.ReleaseLog.DomainModel.ReleaseNoteLogisticsDifficultyDataModel

@{
    ViewBag.Title = "ReleaseNoteLogisticsDifficultyDataModel";
}

<h2>Release Note Logistics Difficulty Item</h2>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.ReleaseNoteLogisticsDifficultyId)
</div>
<div class="editor-field" >
    @Html.EditorFor(modelItem => @Model.ReleaseNoteLogisticsDifficultyId)
    @Html.ValidationMessageFor(modelItem => @Model.ReleaseNoteLogisticsDifficultyId)
</div>

<div class="editor-label">

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Name)
    @Html.ValidationMessageFor(modelItem => @Model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Description)
    @Html.ValidationMessageFor(modelItem => @Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.SortOrder)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.SortOrder)
    @Html.ValidationMessageFor(modelItem => @Model.SortOrder)
</div>
