@model Framework.Components.ReleaseLog.DomainModel.ReleaseNoteDeveloperValueDataModel

@{
    ViewBag.Title = "ReleaseNoteDeveloperValueDataModel";
}

<h2>Release Note Developer Value Item</h2>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.ReleaseNoteDeveloperValueId)
</div>
<div class="editor-field" >
    @Html.EditorFor(modelItem => @Model.ReleaseNoteDeveloperValueId)
    @Html.ValidationMessageFor(modelItem => @Model.ReleaseNoteDeveloperValueId)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Name)
    @Html.ValidationMessageFor(modelItem => @Model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Description)
    @Html.ValidationMessageFor(modelItem => @Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.SortOrder)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.SortOrder)
    @Html.ValidationMessageFor(modelItem => @Model.SortOrder)
</div>
