@model  ApplicationContainer.Web.Api.Models.HomeModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Project Management">
        <meta name="author" content="Indus Valley Technology and Solutions">

        <title>Project Management</title>

        @Styles.Render(string.Format("~/bundles/{0}", "None"))

		@Styles.Render("~/bundles/css")

		@Scripts.Render("~/bundles/modernizr")

		@Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/jqueryui")

        @Scripts.Render("~/bundles/angular")

        @Scripts.Render("~/bundles/mvc")

    </head>

    <body data-ng-app="rootAppShell">

        <div data-ng-include="'../../app/core/views/nav.html'"></div>

        <div class="container-fluid">

            <div ng-controller="alertMessagingCtrl" class="col-sm-12" style="padding-top: 5px;">

                <div class="col-sm-1" ></div>

                <div class="col-sm-10">

                    <div ng-repeat="alert in successList" class="alert alert-success">
                        <button type="button" class="close" aria-hidden="true" ng-click="removeSuccessItem($index)">&times;</button>
                        <span ng-bind-html="alert.msg"/>
                    </div>

                    <div ng-repeat="alert in failureList" class="alert alert-danger">
                        <button type="button" class="close" aria-hidden="true" ng-click="removeFailureItem($index)">&times;</button>
                        <span ng-bind-html="alert.msg" />
                    </div>
                </div>

                <div class="col-sm-1"></div>

            </div>

            <div data-ng-view="" class="col-sm-12"></div>

        </div>

    </body>

</html>