


@using DataModel.Framework.DataAccess
@model DataModel.TaskTimeTracker.ApplicationDevelopment.DBProjectNameDataModel
@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
	<fieldset>
		<legend>DBProjectName</legend>

		@Html.HiddenFor(model => model.DBProjectNameId)

		<div class="display-label">
			@DataModel.TaskTimeTracker.ApplicationDevelopment.DBProjectNameDataModel.DataColumns.DBProjectNameId
		</div>
		<div class="display-field">
			@Model.DBProjectNameId
		</div>

		<div class="display-label">
			@StandardDataModel.StandardDataColumns.Name
		</div>
		<div class="display-field">
			@Model.Name
		</div>

		<div class="display-label">
			@StandardDataModel.StandardDataColumns.Description
		</div>
		<div class="display-field">
			@Model.Description
		</div>

		<div class="display-label">
			@StandardDataModel.StandardDataColumns.SortOrder
		</div>
		<div class="display-field">
			@Model.SortOrder
		</div>

		<p>
			<input type="submit" value="Delete" />
		</p>

	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
