@using DataModel.Framework.DataAccess
@model DataModel.TaskTimeTracker.TimeTracking.ScheduleDetailActivityCategoryDataModel

@{
    ViewBag.Title = "ScheduleDetailActivityCategoryDataModel";
}

<h2>Schedule Detail Activity Category</h2>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.ScheduleDetailActivityCategoryId)
</div>
<div class="editor-label" >     
    @Html.EditorFor(modelItem => @Model.ScheduleDetailActivityCategoryId)
   @* @Html.ValidationMessageFor(modelItem => @Model.ScheduleDetailActivityCategoryId)*@
    
</div>
debugger;
<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Name)
   @* @Html.ValidationMessageFor(modelItem => @Model.Name)*@
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.Description)
    @Html.ValidationMessageFor(modelItem => @Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(modelItem => @Model.SortOrder)
</div>
<div class="editor-field">
    @Html.EditorFor(modelItem => @Model.SortOrder)
    @Html.ValidationMessageFor(modelItem => @Model.SortOrder)
</div>
